<table border="1" markdown="0" id="tbl" style="width:100%; table-layout:fixed; word-wrap: break-word;">

<colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 23%;">
       <col span="1" style="width: 37%;">
</colgroup>
<thead><tr><th title="Field #1">Name</th>
<th title="Field #2">Link/Email</th>
<th title="Field #3">Institution/ Organisation</th>
<th title="Field #4">Description</th>
</tr></thead>
      <tbody>
        <tr>
            <td>
                Multiword Bengali Expression
            </td>
            <td>
                <a href="http://cse.iitkgp.ac.in/~tanmoyc/Tagged_MWE" target="_blank">http://cse.iitkgp.ac.in/~tanmoyc/Tagged_MWE</a>
            </td>
            <td>
                IIT Kharagpur
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Soil and Water Assessment Tool
            </td>
            <td>
                <a href="http://swat.tamu.edu/software/links/india-dataset/" target="_blank">http://swat.tamu.edu/software/links/india-dataset/</a>
            </td>
            <td>
                Soil and Water Assessment Tool
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Data Meet
            </td>
            <td>
                nisha@datameet.org
            </td>
            <td>
                Data Meet
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Collaborative Research in Computational
                <br/>
                Neuroscience
            </td>
            <td>
                <a href="https://crcns.org/data-sets" target="_blank">https://crcns.org/data-sets</a>
            </td>
            <td>
                CRCNS
            </td>
            <td>
                Multiple datasets
            </td>
        </tr>
        <tr>
            <td>
                Reserve Bank Of India
            </td>
            <td>
                <a href="https://www.rbi.org.in/Scripts/Statistics.aspx" target="_blank">https://www.rbi.org.in/Scripts/Statistics.aspx</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
                <a href="http://dbie.rbi.org.in/" target="_blank">
                    This Section provides data on various aspects of Indian economy, banking and finance. While the current data defined as data for the past
                    one year is available at the links provided below, researchers may also access data series available in the Database on Indian Economy link
                    available on this page.
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Central Board of Excise and Customs
            </td>
            <td>
                <a href="https://www.icegate.gov.in/DailyList/DL" target="_blank">https://www.icegate.gov.in/DailyList/DL</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                iAWE
            </td>
            <td>
                <a href="http://iawe.github.io/" target="_blank">
                    http://iawe.github.io/
                </a>
            </td>
            <td>
                Nipun Batra
            </td>
            <td>
                Our dataset characterises the unique aspects of energy, water and network in India. It was published as a part of our Buildsys 2013 paper.
            </td>
        </tr>
        <tr>
            <td>
                National Portal Of India
            </td>
            <td>
                <a href="https://india.gov.in/" target="_blank">https://india.gov.in/</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
                <a href="http://deity.gov.in/content/national-e-governance-plan" target="_blank">
                    The Portal has been developed as a Mission Mode Project (MMP) under the National E-Governance Plan (NEGP) of the Government. The objective
                    behind the Portal is to provide a single window access to the information and services being provided by the Indian Government for citizens
                    and other stakeholders. An attempt has been made through this Portal to provide comprehensive, accurate, reliable and one stop source of
                    information about India and its various facets.
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Bangalore Open Data
            </td>
            <td>
                <a href="http://openbangalore.org/" target="_blank">http://openbangalore.org/</a>
            </td>
            <td>
            </td>
            <td>
                <a href="http://thejeshgn.com/2012/09/15/introducing-bangalore-open-data-repository/" target="_blank">
                    It is a repository of data, code and related artifacts that I have collected in my personal capacity ( My personal introductory blog post ). Its
                    targeted at data enthusiasts, data scientists, researchers and developers who are interested in public data related to Bangalore.
                </a>
            </td>
        </tr>
        <tr>
            <td>
                DataMeet Repository
            </td>
            <td>
                <a href="https://github.com/datameet" target="_blank">https://github.com/datameet</a>
            </td>
            <td>
            </td>
            <td>
                Multiple datasets
            </td>
        </tr>
        <tr>
            <td>
                Indian Geo-platform (ISRO)
            </td>
            <td>
                <a href="http://bhuvan.nrsc.gov.in/data/download/index.php" target="_blank">http://bhuvan.nrsc.gov.in/data/download/index.php</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Maps Of India
            </td>
            <td>
                <a href="http://www.mapsofindia.com/" target="_blank">http://www.mapsofindia.com/</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                India Trading Economics Data
            </td>
            <td>
                <a href="http://www.tradingeconomics.com/india/indicators" target="_blank">http://www.tradingeconomics.com/india/indicators</a>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Census Of India
            </td>
            <td>
                <a href="http://www.censusindia.gov.in/2011census/population_enumeration.html" target="_blank">
                    http://www.censusindia.gov.in/2011census/population_enumeration.html
                </a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
                The Indian Census is the largest single source of a variety of statistical information on different characteristics of the people of India.
                To scholars and researchers in
                demography, economics, anthropology, sociology, statistics and many other disciplines, the Indian Census has been a fascinating source of data.
            </td>
        </tr>
        <tr>
            <td>
                Survey of India
            </td>
            <td>
                <a href="http://www.surveyofindia.gov.in/pages/show/86-mapsdata" target="_blank">http://www.surveyofindia.gov.in/pages/show/86-mapsdata</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                National Data Bank
            </td>
            <td>
                <a href="http://mospi.gov.in/national_data_bank/index.htm" target="_blank">http://mospi.gov.in/national_data_bank/index.htm</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
                The National Data Bank of Socio-Religious categories is developed with a view to provide users access to all data, pertaining to various
                aspects of socio-economic life of population falling in different social/religious categories, from a single window.
            </td>
        </tr>
        <tr>
            <td>
                IIT Delhi Iris Database
            </td>
            <td>
                <a href="http://www4.comp.polyu.edu.hk/~csajaykr/IITD/Database_Iris.htm" target="_blank">
                    http://www4.comp.polyu.edu.hk/~csajaykr/IITD/Database_Iris.htm
                </a>
            </td>
            <td>
                IIT Delhi
            </td>
            <td>
                The IIT Delhi Iris Database mainly consists of the iris images collected from the students and staff at IIT Delhi, New Delhi, India. This
                database has been acquired in Biometrics Research Laboratory during Jan - July 2007 (still in progress) using JIRIS, JPC1000, digital CMOS
                camera [2]. The image acquisition program was written to acquire and save these images in bitmap format and is also freely available on
                request.
            </td>
        </tr>
        <tr>
            <td>
                Extreme Classification Repository
            </td>
            <td>
                <a href="http://research.microsoft.com/en-us/um/people/manik/downloads/XC/XMLRepository.html" target="_blank">
                    http://research.microsoft.com/en-us/um/people/manik/downloads/XC/XMLRepository.html
                </a>
            </td>
            <td>
                Microsoft Research
            </td>
            <td>
                The objective in extreme multi-label learning is to learn a classifier that can automatically tag a datapoint with the most relevant subset of
                labels from an extremely large label set. This page provides benchmark datasets and code that can be used for evaluating the performance of
                extreme multi-label algorithms.
            </td>
        </tr>
        <tr>
            <td>
                IIIT 5K-word dataset
            </td>
            <td>
                <a href="http://cvit.iiit.ac.in/projects/SceneTextUnderstanding/IIIT5K.html" target="_blank">
                    http://cvit.iiit.ac.in/projects/SceneTextUnderstanding/IIIT5K.html
                </a>
            </td>
            <td>
                IIITH
            </td>
            <td>
                Query words like billboards, signboard, house numbers, house name plates, movie posters were used to collect images. The dataset contains 5000
                cropped word images from Scene Texts and born-digital images. The dataset is divided into train and test parts. This dataset can be used for
                large lexicon cropped word recognition.
            </td>
        </tr>
        <tr>
            <td>
                Online Handwriting Recognition
            </td>
            <td>
                <a href="https://cvit.iiit.ac.in/research/projects/cvit-projects/online-handwriting-recognition-using-depth-sensors" target="_blank">
                    https://cvit.iiit.ac.in/research/projects/cvit-projects/online-handwriting-recognition-using-depth-sensors
                </a>
            </td>
            <td>
                IIITH
            </td>
            <td>
                We have prepared a dataset containing 1,560 characters and 400 words with intention of providing common benchmark for air
                handwriting character recognition and allied research.
            </td>
        </tr>
        <tr>
            <td>
                Classification of Boundaries of an RGBD Image
            </td>
            <td>
                <a href="https://cvit.iiit.ac.in/research/projects/cvit-projects/semantic-classification-of-boundaries-of-an-rgbd-image" target="_blank">
                    https://cvit.iiit.ac.in/research/projects/cvit-projects/semantic-classification-of-boundaries-of-an-rgbd-image
                </a>
            </td>
            <td>
                IIITH
            </td>
            <td>
                We use both image and depth cues to infer the labels of edge pixels. We start with a set of edge pixels obtained from an edge detection
                algorithm and the goal is to assign one of the four labels to each of these edge pixels. Each edge pixel is uniquely mapped to one of the
                contour segments. Contour segments are sets of linked edge pixels.
            </td>
        </tr>
        <tr>
            <td>
                Sports-10K and TV Series-1M Video Datasets
            </td>
            <td>
                <a href="https://cvit.iiit.ac.in/research/projects/cvit-projects/sports-10k-and-tv-series-1m-video-datasets" target="_blank">
                    https://cvit.iiit.ac.in/research/projects/cvit-projects/sports-10k-and-tv-series-1m-video-datasets
                </a>
            </td>
            <td>
                IIITH
            </td>
            <td>
                We introduce two large video datasets namely Sports-10K and TV series-1M to demonstrate scene text retrieval in the context of video sequences.
                The first one is from sports video clips, containing many advertisement signboards, and the second is from four popular TV series: Friends,
                Buffy, Mr. Bean, and Open All Hours. The TV series-1M contains more than 1 million frames. 
            </td>
        </tr>
        <tr>
            <td>
                India Statistical Data
            </td>
            <td>
                <a href="https://www.quandl.com/collections/india" target="_blank">https://www.quandl.com/collections/india</a>
            </td>
            <td>
                Quandle
            </td>
            <td>
                Multiple datasets
            </td>
        </tr>
        <tr>
            <td>
                India Statistical Data
            </td>
            <td>
                <a href="https://knoema.com/atlas/India" target="_blank">https://knoema.com/atlas/India</a>
            </td>
            <td>
                Knoema
            </td>
            <td>
                Multiple datasets
            </td>
        </tr>
        <tr>
            <td>
                AMEO 2015
            </td>
            <td>
                <a href="http://research.aspiringminds.com/resources/" target="_blank">http://research.aspiringminds.com/resources/</a>
            </td>
            <td>
                Aspiring Minds
            </td>
            <td>
                It is a unique dataset which contains engineering graduates’ employment outcomes (salaries, job titles and job locations) along with
                standardized assessment scores in three fundamental areas - cognitive skills, technical skills and personality.
            </td>
        </tr>
        <tr>
            <td>
                Data Science For Kids
            </td>
            <td>
                <a href="https://drive.google.com/folderview?id=0B5e-wnFrLgTEUm9jaDc2ODV5Z3M&amp;usp=sharing" target="_blank">
                    https://drive.google.com/folderview?id=0B5e-wnFrLgTEUm9jaDc2ODV5Z3M&amp;usp=sharing
                </a>
            </td>
            <td>
                Aspiring Minds
            </td>
            <td>
                A dataset containing kids' rating of random face cards on a scale of 1-5 according to their inclination to befriend the person on the card.
                These cards had distinguishing feature sets like old names &amp; new names, gender and hobby type.
            </td>
        </tr>
        <tr>
            <td>
                Aadhaar data catalog
            </td>
            <td>
                <a href="https://data.uidai.gov.in/uiddatacatalog/dataCatalogHome.do" target="_blank">
                    https://data.uidai.gov.in/uiddatacatalog/dataCatalogHome.do
                </a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
                Aadhaar data catalog is a place to view numerous Datasets generated in UIDAI ecosystem. It will help you to surface out your own research,
                application on the data which is collected at national level. Datasets are available in the form of CSV.
            </td>
        </tr>
        <tr>
            <td>
                Open Government Data (OGD) Platform India
            </td>
            <td>
                <a href="https://data.gov.in/" target="_blank">https://data.gov.in/</a>
            </td>
            <td>
                Govt. Of India
            </td>
            <td>
                It is a platform for supporting Open Data initiative of Government of India. The portal is intended to be used by Government of India
                Ministries/ Departments their organizations to publish datasets, documents, services, tools and applications collected by them for public use.
                It intends to increase transparency in the functioning of Government and also open avenues for many more innovative uses of Government Data to
                give different perspective.
            </td>
        </tr>
        <tr>
            <td>
                Programming Features API
            </td>
            <td>
                Mail to: research@aspiringminds.com
            </td>
            <td>
                Aspiring Minds
            </td>
            <td>
                In our KDD 2014 paper, we describe a new grammar to extract meaningful features from program which are highly predictive of the algorithm used
                to solve the problem. A million more things can be done by our features than naive ones.like keyword counts, AST height, syntax errors, etc.
                They are currently available for C, C++, Java and Python. Happy to provide an API. Write to us!
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                Code Data Set
            </td>
            <td>
                Mail to: research@aspiringminds.com
            </td>
            <td>
                Aspiring Minds
            </td>
            <td>
                We have a data set of more than 100,000 codes in C, C++ and Java. We also have data sets of human graded codes in C and Java for various
                problems. Want to play with it? Write to us!
            </td>
        </tr>
    </tbody>
</table>
