<table border="0" align="center" markdown="0" id="tbl" style="width:100%; margin:0px 0px 0px 23px; table-layout:fixed; word-wrap: break-word;">

<colgroup>
       <col span="1" style="width: 33.33%;">
       <col span="1" style="width: 33.33%;">
       <col span="1" style="width: 33.33%;">
      
</colgroup>

      <tbody>
        <tr>
              <td>
                <a href="/images/va.JPG" alt=""><img src="/images/va.JPG" align="middle" style="width:150px;height:150px;">
                    <h3><a href="https://in.linkedin.com/in/varunaggarwal2">Varun Aggarwal<br></a>
                        <small>Founder and CTO,<br> Aspiring Minds</small>
                    </h3></a>
            </td>
            <td>
               <a href="/images/mg.jpg" alt=""><img src="/images/mg.jpg" align="middle" style="width:150px;height:150px;">
                    <h3><a href="http://www.xrci.xerox.com/profile-main/113/">Manish Gupta <br></a>
                        <small>Director,<br>  Xerox Research India</small>
                    </h3></a>
            </td>
              <td>
                <a href="/images/akshay kothari.jpg" alt=""><img src="/images/akshay kothari.jpg" align="middle" style="width:150px;height:150px;">
                    <h3><a href="https://in.linkedin.com/in/akothari">Akshay Kothari<br></a>
                        <small>Head,<br> LinkedIn India</small>
                    </h3></a>
            </td>
            
            
        </tr>
        <tr>
            
            <td> 
              <a href="/images/um.jpg" alt=""><img src="/images/um.jpg" align="middle" style="width:150px;height:150px;">
                    <h3><a href="http://people.csail.mit.edu/unamay/">Una-May O'Reilly<br></a>
                        <small>Principal Research Scientist,<br> MIT</small>
                    </h3></a>
            </td>
            <td>
                <a href="/images/ks.jpg" alt=""><img src="/images/ks.jpg" align="middle" style="width:150px;height:150px;">
                    <h3><a href="https://in.linkedin.com/in/kunalshah1">Kunal Shah<br></a>
                        <small>Founder & Chairman, FreeCharge</small>
                    </h3></a>
            </td>
            <td>
                <a href="/images/lv.jpg" alt=""><img src="/images/lv.jpg" align="middle" style="width:150px;height:150px;">
                    <h3><a href="http://varshney.web.engr.illinois.edu/">Lav Varshney <br></a>
                        <small>Assistant Professor, <br> UIUC</small>
                    </h3></a>
            </td>
            
        </tr>
        
        </tbody>
       </table>

<table border="0" markdown="0" align="center" id="tbl" style="width:60%; margin:0px 0px 0px 7px; table-layout:fixed; word-wrap: break-word;">

<colgroup>
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 50%;">
      
</colgroup>

      <tbody>
        <tr>
            <td>
<input class="MyButton" type="button" value="       Apply now!        " onclick="window.open('https://goo.gl/forms/pVz5d0SbhBbKA5E72','_blank')">
</td>
<td>
       <input class="MyButton" type="button" value="       Read more        " onclick="window.open('/data-angels/data angels_public.pdf','_blank')">

</td>
</tr>
</tbody>
</table>
<head>
<style>
input.MyButton {
width: 160px;

font-weight: bold;
font-size: 100%;
background: #FFFFFF;
color: #1D1D1D;
cursor: pointer;
border: 1px solid #999999;
border-radius: 10px;
float:left;
margin-right : 5px
}
input.MyButton:hover {
color: #1D1D1D;
background: #D5D5D5;
border: 1px solid #A3A3A3;
}
</style>
</head>

