
<table border="1" markdown="0" id="tb2" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 60%;">

</colgroup>
<thead><tr>
<th title="Field #1">Name</th>
<th title="Field #2">University</th>
<th title="Field #3">Website</th>

</tr></thead>
<tbody>

    {% for faculty in site.data.faculties %}
      <tr>
        <td>
            {{ faculty.Name }}
        </td>
        <td>
            {{ faculty.University }}
        </td>
        <td>
            <a href="{{ faculty.Website }}" target="_blank">{{ faculty.Website }}</a>
        </td>
      </tr>
    {% endfor %}

</tbody>
</table>
