<table border="1" markdown="0" id="tbl" style="width:100%; table-layout:fixed; word-wrap: break-word;">

    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 60%;">
    </colgroup>
    
    <thead><tr><th title="Field #1">S.No</th>
    <th title="Field #2">Name</th>
    <th title="Field #3">Website</th>
    <th title="Field #4">Description</th>
    </tr></thead>  
    <tbody>
    {% for company in site.data.companies %}
      <tr>
        <td>
            {{ company.Sno }}
        </td>
        <td>
            <a href="{{ site.url }}/companydetails/companydetail/{{ company.Name | slugify }}">{{ company.Name }}</a>
        </td>
        <td>
            <a href="{{ company.Website }}" target="_blank">{{ company.Website }}</a>
        </td>
        <td>
            {{ company.Description }}
        </td>
      </tr>
    {% endfor %}
    </tbody>

</table>                                                                                                                                                                                                                                                                                                    