
<table border="1" markdown="0" id="tbl" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 60%;">

</colgroup>
<thead><tr>
<th title="Field #1">Name</th>
<th title="Field #2">University</th>
<th title="Field #3">Website</th>

</tr></thead>
<tbody>

<tr><td>Ajit Rajwade</td><td>IIT Bombay</td><td><a href=''></a></td></tr>
<tr><td>Amit Awekar</td><td>IIT G</td><td><a href='http://www.iitg.ernet.in/awekar'>http://www.iitg.ernet.in/awekar/</a></td></tr>
<tr><td>Amitabha Bagchi</td><td>IIT Delhi</td><td><a href='http://www.cse.iitd.ac.in/~bagchi'>http://www.cse.iitd.ac.in/~bagchi/</a></td></tr>
<tr><td>Amitabha Mukerjee</td><td>IIT Kanpur</td><td><a href=''></a></td></tr>
<tr><td>Anirban Dasgupta</td><td>IIT Gandhinagar</td><td><a href='https://sites.google.com/site/anirbandasgupta'>https://sites.google.com/site/anirbandasgupta/</a></td></tr>
<tr><td>Anoop M. Namboodiri</td><td>IIIT H</td><td><a href='http://faculty.iiit.ac.in/~anoop'>http://faculty.iiit.ac.in/~anoop/</a></td></tr>
<tr><td>Arnab Bhattacharya</td><td>IIT Kanpur</td><td><a href=''></a></td></tr>
<tr><td>Ashish Anand</td><td>IIT G</td><td><a href='http://www.iitg.ernet.in/anand.ashish'>http://www.iitg.ernet.in/anand.ashish/</a></td></tr>
<tr><td>Avinash Sharma</td><td>IIIT H</td><td><a href='https://researchweb.iiit.ac.in/~avinash_s/resume.html'>https://researchweb.iiit.ac.in/~avinash_s/resume.html</a></td></tr>
<tr><td>Balaraman Ravindran</td><td>IIT Madras</td><td><a href='http://www.cse.iitm.ac.in/~ravi'>http://www.cse.iitm.ac.in/~ravi/</a></td></tr>
<tr><td>C V Jawahar</td><td>IIIT H</td><td><a href='http://faculty.iiit.ac.in/~jawahar'>http://faculty.iiit.ac.in/~jawahar/</a></td></tr>
<tr><td>Chetan Arora</td><td>IIIT Delhi</td><td><a href=''></a></td></tr>
<tr><td>Chiranjib Bhattacharyya</td><td>IISc</td><td><a href='http://drona.csa.iisc.ernet.in/~chiru'>http://drona.csa.iisc.ernet.in/~chiru/</a></td></tr>
<tr><td>Deepak Khemani ,</td><td>IIT Madras</td><td><a href=''></a></td></tr>
<tr><td>Ganesh Ramakrishnan</td><td>IIT Bombay</td><td><a href='http://www.cse.iitb.ac.in/~ganesh'>http://www.cse.iitb.ac.in/~ganesh/</a></td></tr>
<tr><td>Harish Karnick</td><td>IIT Kanpur</td><td><a href=''></a></td></tr>
<tr><td>Kishore S. Prahallad</td><td>IIIT H</td><td><a href='http://faculty.iiit.ac.in/~kishore'>http://faculty.iiit.ac.in/~kishore</a></td></tr>
<tr><td>M. Narasimha Murty</td><td>IISc</td><td><a href=''></a></td></tr>
<tr><td>Manish Shrivastava</td><td>IIIT H</td><td><a href='http://www.iiit.ac.in/people/faculty/m.shrivastava'>http://www.iiit.ac.in/people/faculty/m.shrivastava</a></td></tr>
<tr><td>Mausam</td><td>IIT Delhi</td><td><a href='http://homes.cs.washington.edu/~mausam'>http://homes.cs.washington.edu/~mausam/</a></td></tr>
<tr><td>Maya Ramanath</td><td>IIT Delhi</td><td><a href='http://www.cse.iitd.ac.in/~ramanath/Site/About_me.html'>http://www.cse.iitd.ac.in/~ramanath/Site/About_me.html</a></td></tr>
<tr><td>Mayank Vatsa</td><td>IIIT Delhi</td><td><a href=''></a></td></tr>
<tr><td>Pabitra Mitra</td><td>IIT Kgp</td><td><a href=''></a></td></tr>
<tr><td>Parag Singla</td><td>IIT Delhi</td><td><a href='http://www.cse.iitd.ac.in/~parags'>http://www.cse.iitd.ac.in/~parags/</a></td></tr>
<tr><td>Partha Talukdar</td><td>IISc</td><td><a href='http://talukdar.net'>http://talukdar.net/</a></td></tr>
<tr><td>Purshottam Kar</td><td>IIT Kanpur</td><td><a href=''></a></td></tr>
<tr><td>Pushpak Bhattacharyya</td><td>IIT Bombay</td><td><a href=''></a></td></tr>
<tr><td>Richa Singh</td><td>IIIT Delhi</td><td><a href=''></a></td></tr>
<tr><td>Saket Anand</td><td>IIIT Delhi</td><td><a href=''></a></td></tr>
<tr><td>Saketha Nath Jagarlapudi</td><td>IIT Bombay</td><td><a href=''></a></td></tr>
<tr><td>Sanasam Ranbir Singh</td><td>IIT G</td><td><a href='http://www.iitg.ernet.in/ranbir'>http://www.iitg.ernet.in/ranbir/</a></td></tr>
<tr><td>Shivani Agarwal</td><td>IISc</td><td><a href='http://www.csa.iisc.ernet.in/~shivani'>http://www.csa.iisc.ernet.in/~shivani/</a></td></tr>
<tr><td>Soumen Chakrabarti</td><td>IIT Bombay</td><td><a href=''></a></td></tr>
<tr><td>Sunita Sarawagi</td><td>IIT Bombay</td><td><a href=''></a></td></tr>
<tr><td>Suryakanth V Gangashetty</td><td>IIIT H</td><td><a href='http://www.iiit.ac.in/people/faculty/svg'>http://www.iiit.ac.in/people/faculty/svg</a></td></tr>
<tr><td>Sutanu Chakraborty</td><td>IIT Madras</td><td><a href=''></a></td></tr>
<tr><td>Suyash Awate</td><td>IIT Bombay</td><td><a href=''></a></td></tr>
<tr><td>Vinay Namboodiri</td><td>IIT Kanpur</td><td><a href=''></a></td></tr>

</tbody>
</table>
