
<table border="1" markdown="0" id="tb2" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 25%;">

</colgroup>
<thead><tr>
<th title="Field #1">Name</th>
<th title="Field #2">Affiliation</th>
<th title="Field #3">Tags</th>

</tr></thead>
<tbody>

    {% for person in site.data.people %}
      <tr>
        <td>
            <a href="{{ person.Link }}" target="_blank">{{ person.Name }}</a>
        </td>
        <td>
            {{ person.Affiliation }}
        </td>
        <td>
            {{ person.Tags }}
        </td>
      </tr>
    {% endfor %}

</tbody>
</table>
