<p>Want us to feature you on ml-india.org ? ml-india.org is creating a listing* of machine learning and data science practictioners in India. This will help people easily network for collaborations, discussions and hiring. At present we plan to list PhD students and ML engineers in corporations with at least one year experience. 

       <br>To get listed, please fill <a href="https://goo.gl/forms/vM2bIAmApmAOaGVE2">this form</a> to list yourself with other Indian data science innovators! It will take less than 3 minutes.

<br><br>*We reserve the right to list or de-list someone based on checks done on information provided.</p>

<table border="1" markdown="0" id="tb3" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 25%;">

</colgroup>
<thead><tr>
<th title="Field #1">Name</th>
<th title="Field #2">Affiliation</th>
<th title="Field #3">Tags</th>

</tr></thead>
<tbody>

    {% for professional in site.data.professionals %}
      <tr>
        <td>
            <a href="{{ professional.Link }}" target="_blank">{{ professional.Name }}</a>
        </td>
        <td>
            {{ professional.Affiliation }}
        </td>
        <td>
            {{ professional.Tags }}
        </td>
      </tr>
    {% endfor %}

</tbody>
</table>
