<table border="0" markdown="0" id="tbl" style="width:100%; table-layout:fixed; word-wrap: break-word;">

<colgroup>
       <col span="1" style="width: 33.33%;">
       <col span="1" style="width: 33.33%;">
       <col span="1" style="width: 33.33%;">
      
</colgroup>

      <tbody>
        <tr>
               <td>
                <a href="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg"> <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg" alt="" align="middle" style="width:150px;height:150px;">
                    <h3>Varun Aggarwal<br>
                        <small>Founder and CTO,<br> Aspiring Minds</small>
                    </h3></a>
            </td>
            
            <td>
               <a href="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg"> <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg" alt="" align="middle" style="width:150px;height:150px;">
                    <h3>Manish Gupta <br>
                        <small>Director,<br>  Xerox Research India</small>
                    </h3></a>
            </td>
            <td>
                <a href="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg"> <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg" alt="" align="middle" style="width:150px;height:150px;">
                    <h3>Kunal Shah<br>
                        <small>Founder & Chairman, FreeCharge</small>
                    </h3></a>
            </td>
        </tr>
        <tr>
            
            <td>
              <a href="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg"> <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg" alt="" align="middle" style="width:150px;height:150px;">
                    <h3>Una May O'Reilly<br>
                        <small>Principal Research Scientist,<br> MIT</small>
                    </h3></a>
            </td>
            <td>
                <a href="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg"> <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg" alt="" align="middle" style="width:150px;height:150px;">
                    <h3>Kunal Shah<br>
                        <small>Head,<br> LinkedIn India</small>
                    </h3></a>
            </td>
            <td>
                <a href="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg"> <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAbyAAAAJGNiNDBjODdiLTk0ODItNGRhZi05MDgxLTM5MDljZDRmYmUwNg.jpg" alt="" align="middle" style="width:150px;height:150px;">
                    <h3>Lav Varshney <br>
                        <small>University of Illinois, <br> Urbana-Champaign</small>
                    </h3></a>
            </td>
            
        </tr>
        
        </tbody>
       </table>

<table border="0" markdown="0" align="center" id="tbl" style="width:60%; table-layout:fixed; word-wrap: break-word;">

<colgroup>
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 50%;">
      
</colgroup>

      <tbody>
        <tr>
            <td>
<input class="MyButton" type="button" value="       Apply now!        " onclick="window.location.href='https://docs.google.com/a/aspiringminds.in/forms/d/1Kqi1MjtDEWEqR7Ef4D5t0NGbbRfPjxKUMvrM7bNHMyg/viewform?edit_requested=true'" />
</td>
<td>
       <input class="MyButton" type="button" value="       Read more        " onclick="window.location.href=''" />

</td>
</tr>
</tbody>
</table>
<head>
<style>
input.MyButton {
width: 160px;

font-weight: bold;
font-size: 100%;
background: #D0E2F3;
color: #10406D;
cursor: pointer;
border: 1px solid #999999;
border-radius: 10px;
-webkit-box-shadow: 6px 6px 5px #999999;
-moz-box-shadow: 6px 6px 5px #999999;
box-shaddow: 6px 6px 5px; #999999;
float:left;
margin-right : 5px
}
input.MyButton:hover {
color: #FFFFFF;
background: #1464B2;
border: 1px solid #A3A3A3;
-webkit-box-shadow: 2px 2px 5px #666666;
-moz-box-shadow: 2px 2px 5px #666666;
box-shaddow: 2px 2px 5px; #666666;
}
</style>
</head>

