<p>Want us to feature you on ml-india.org ? ml-india.org is creating a listing* of machine learning and data science practictioners in India. This will help people easily network for collaborations, discussions and hiring. At present we plan to list PhD students and ML engineers in corporations with at least one year experience. 

       <br>To get listed, please fill <a href="https://goo.gl/forms/vM2bIAmApmAOaGVE2">this form</a> to list yourself with other Indian data science innovators! It will take less than 3 minutes.

<br><br>*We reserve the right to list or de-list someone based on checks done on information provided.</p>

<table border="1" markdown="0" id="tb3" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 25%;">

</colgroup>
<thead><tr>
<th title="Field #1">Name</th>
<th title="Field #2">Affiliation</th>
<th title="Field #3">Tags</th>

</tr></thead>
<tbody>

<tr><td><a href="https://www.linkedin.com/in/adhish-prasoon-0a534217?authType=name&authToken=21t9&locale=en_US&srchid=3509665261474273676508&srchindex=26&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474273676508%2CVSRPtargetId%3A57566717%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Adhish Prasoon</a></td><td>Lead Data Scientist at Mobileum Inc</td><td>Computer Vision, Machine Learning</td></tr>
<tr><td><a href="https://www.linkedin.com/in/shashank-srikant-965aa125">Shashank Srikant</a></td><td>Senior Research and Development Engineer, Aspiring Minds</td><td>Automatic Program Grading, Pattern Recognition.</td></tr>
       <tr><td><a href="https://www.linkedin.com/in/varunaggarwal2">Varun Aggarwal</a></td><td>CTO, Aspiring Minds</td><td>Speech Recognition, Automatic Program Grading</td></tr>
       <tr><td><a href="https://www.linkedin.com/in/bhanu-pratap-singh-07180346">Bhanu Pratap Singh</a></td><td>Research and Development Engineer at Aspiring Minds</td><td>Speech Recognition, Computational Neuroscience
</td></tr>
       <tr><td><a href="https://www.linkedin.com/in/gursimar">Gursimran Singh</a></td><td>Research and Development Engineer, Aspiring Minds</td><td>Machine Learning, Automatic Program Grading</td></tr>
<tr><td><a href="https://www.linkedin.com/in/tavpritesh?authType=name&authToken=JcfY&trk=contacts-contacts-list-contact_name-0">Dr Tavpritesh Sethi</a></td><td>Assistant Professor at IIIT-Delhi</td><td>Data Science, Healthcare </td></tr>
<tr><td><a href="https://www.linkedin.com/in/shiju-ss-36b9371b">Shiju S. S.</a></td><td>PhD student in machine learning, Indian Institute of Space Science and Technology</td><td>Stochastic Gradient Decent (SGD), Support Vector Machines (SVMs)</td></tr>       
<tr><td><a href="https://www.linkedin.com/in/saurabhsrivastava9?authType=name&authToken=bioQ&trk=contacts-contacts-list-contact_name-0">Saurabh Srivastava</a></td><td>Research Scientist- Human Computer Interaction</td><td>HCI, Data Visualization</td></tr>
<tr><td><a href="https://www.linkedin.com/in/joshihersh?authType=name&authToken=HkhJ&trk=contacts-contacts-list-contact_name-0">Hersh Joshi</a></td><td>SkilEmp Tech | Data Analytics | Marketing Automation</td><td>Information Extraction and Retrieval, Predictive Analytics</td></tr>
<tr><td><a href="https://www.linkedin.com/in/pradeep-mishra-5a5363123?authType=name&authToken=e1_S&trk=contacts-contacts-list-contact_name-0">Pradeep Mishra</a></td><td>Data Scientist at Metacube Software Pvt Ltd</td><td>Text Mining, Predictive Modelling</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/aadhikary?authType=name&authToken=7pAo&trk=contacts-contacts-list-contact_name-0">Abinash Adhikary</a></td><td>Chief Data Scientist at Statistics</td><td>Statistics, Data Science</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/navash?authType=name&authToken=4Y7p&trk=contacts-contacts-list-contact_name-0">Naveen A.</a></td><td>CoFounder & Director, Innovatesmind Technologies</td><td>Big Data Analytics, Predictive Modelling</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/vaibhav-rajan-b76a4613?authType=name&authToken=35jk&trk=Skyline_click_NBM&sl=NBM%3B350966526%3A1474268145585%3B0%3B127654926%3B">Vaibhav Rajan</a></td><td>Senior Research Scientist at Xerox Research Centre India</td><td>Machine learning, Bioinformatics</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/arijit-biswas-46690236?authType=name&authToken=6MYy&trk=contacts-contacts-list-contact_name-0">Arijit Biswas</a></td><td>Machine Learning Scientist at Amazon Core Machine Learning</td><td>Deep Learning, Computer Vision</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/yogesh-kumar-7006838?authType=OUT_OF_NETWORK&authToken=jF6R&locale=en_US&srchid=3509665261474270005932&srchindex=5&srchtotal=5573&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270005932%2CVSRPtargetId%3A25552944%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOUT_OF_NETWORK">Yogesh Kumar</a></td><td>Lead Data Scientist at Annik Technnology Services Pvt. Ltd.</td><td>Machine Learning, Business Analytics</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/kushkhurana?authType=OPENLINK&authToken=Rb72&locale=en_US&srchid=3509665261474270005932&srchindex=6&srchtotal=5573&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270005932%2CVSRPtargetId%3A21402703%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOPENLINK">Kush Khurana</a></td><td>Lead Data Scientist at Mobileum</td><td>Statistical Modelling, Machine Learning</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/sreenivas-kalahasti-8507a05b?authType=OPENLINK&authToken=sex4&locale=en_US&srchid=3509665261474270005932&srchindex=8&srchtotal=5573&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270005932%2CVSRPtargetId%3A213955260%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOPENLINK">Sreenivas Kalahasti</a></td><td>Lead Data Scientist at Vertex Computer Systems</td><td>Statistical Modelling, Predictive Analytics</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/ashishiimc?authType=OPENLINK&authToken=1l_n&locale=en_US&srchid=3509665261474270053469&srchindex=10&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270053469%2CVSRPtargetId%3A58836306%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOPENLINK">Ashish Kumar</a></td><td>Lead Data Scientist Envisioning Leanml.com</td><td>Machine Learning, Data Modeling</td></tr>
 <tr><td><a href="https://in.linkedin.com/in/manish-gupta-4556591">Dr. Manish Gupta</a></td><td>VP, Xerox Research Center India</td><td>Machine Learning, Big Data</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/renjithpaulose?authType=name&authToken=mMWi&locale=en_US&srchid=3509665261474270053469&srchindex=6&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270053469%2CVSRPtargetId%3A23656033%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Renjith Paulose</a></td><td>Technical Lead Data Science at Lochbridge</td><td>Bioinformatics, Predictive Modeling</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/ujwalbhate?authType=name&authToken=KyMF&locale=en_US&srchid=3509665261474270053469&srchindex=2&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270053469%2CVSRPtargetId%3A395620471%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Ujwal Bhate</a></td><td>Machine Learning and Data Monetization C.o.E. Lead at Infosys</td><td>Statistical Learning, Machine Learning</td></tr>
 <tr><td><a href="https://sites.google.com/site/aviseklahiri/home">Avisek Lahiri</a></td><td>Post doctoral student, IIT Kharagpur</td><td>Computer Vision, Image Processing</td></tr>
<tr><td><a href="http://researchweb.iiit.ac.in/~anand.mishra/">Anand Mishra</a></td><td>Research fellow at IIIT Hyderabad</td><td>Pattern Recognition, Computer Vision</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/nikhil-priyatam-pattisapu-31608667?authType=name&authToken=H0xH&locale=en_US&srchid=3509665261463110795893&srchindex=2&srchtotal=76&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261463110795893%2CVSRPtargetId%3A236069442%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Nikhil Priyatam Pattisapu</a></td><td>PhD Student at IIIT Hyderabad</td><td>NLP, Artificial Intelligence</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/prachi-jain-7bb79738?authType=name&authToken=gP6T&locale=en_US&srchid=3509665261463113921229&srchindex=2&srchtotal=45&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261463113921229%2CVSRPtargetId%3A133324991%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Prachi Jain</a></td><td>PhD Student at IIT Delhi</td><td>NLP, Probabilistic Graphical Modeling</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/priya-radhakrishnan-36728735?authType=name&authToken=ZS-Z&locale=en_US&srchid=3509665261463110821943&srchindex=3&srchtotal=46&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261463110821943%2CVSRPtargetId%3A123101503%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Priya Radhakrishnan</a></td><td>PhD Student at IIIT Hyderabad</td><td>NLP, Information Extraction and Retrieval</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/sonalgoyal?authType=name&authToken=X4Dq&trk=contacts-contacts-list-contact_name-0">Sonal Goyal</a></td><td>Founder at Nube Technologies</td><td>Big Data, Machine Learning</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/karthik-r-2b01b424?authType=name&authToken=iD_a&locale=en_US&srchid=3509665261474273954159&srchindex=31&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474273954159%2CVSRPtargetId%3A84091812%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Karthik R</a></td><td>Data Scientist at Tiger Analytics</td><td>Pattern Recognition, Statistical Analysis</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/vempatisreekanth?authType=name&authToken=sp6H&trk=prof-sb-browse_map-name">Sreekanth Vempati</a></td><td>Data Scientist at Myntra.com</td><td>Computer Vision, Image Processing</td></tr>
 <tr><td><a href="https://www.linkedin.com/in/nijesh-kanjinghat-65770822?authType=name&authToken=JLOO&locale=en_US&srchid=3509665261474273954159&srchindex=32&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474273954159%2CVSRPtargetId%3A79392163%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Nijesh Kanjinghat</a></td><td>Data Scientist at IBM</td><td>NLP, Artificial Neural Networks</td></tr>
<tr><td><a href="https://in.linkedin.com/in/simran-sethi-3a556652">Simran Sethi</a></td><td>ML engineer/scientist in industry, Innovaccer Inc., Noida</td><td>Adaptive Partitioning, Bio-informatics</td></tr>
<tr><td><a href="www.ghulamahmedansari.com">Ghulam Ahmed Ansari</a></td><td>Student, Indian Institute of Technology Madras, Chennai</td><td>Recommender systems, Recurrent Neural Networks</td></tr>
<tr><td><a href="https://www.linkedin.com/in/joehrisaac/">Joseph Hosanna Raj I.</a></td><td>PhD student in machine learning, Indian Institute of Technology Madras, Chennai, Tamil Nadu</td><td>Virtual reality, Computer Vision</td></tr>
<tr><td><a href="www.linkedin.com/in/dubey206neha">Neha Dubey</a></td><td>MS(research) student in NLP, IIT madras</td><td>Computational Linguistics, Information Extraction & Retrieval</td></tr>
<tr><td><a href="in.linkedin.com/in/nisrao">Nishant Rao</a></td><td>ML engineer/scientist in industry, Yours Honestly</td><td>Data Analytics, Data Science</td></tr>
<tr><td><a href="https://www.linkedin.com/in/sanket-sachdeva-bab529111">Sanket sachdeva</a></td><td>ML engineer/scientist in industry, Spade infotech</td><td>Data Science, Machine learning</td></tr>

 <tr><td><a href="https://www.linkedin.com/in/vandana-dhingra-9648a017?authType=NAME_SEARCH&authToken=DW1y&locale=en_US&srchid=3509665261486531034309&srchindex=5&srchtotal=14&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261486531034309%2CVSRPtargetId%3A58933084%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH">Dr. Vandana Dhingra</a></td><td>Faculty, Savitribai Phule Pune University</td><td>Recommender systems, Sentiment Analysis</td></tr>

<tr><td><a href="http://in.linkedin.com/in/xinformatics">Shashank Yadav</a></td><td>ML student, IIT D</td><td>Bio-informatics, Computational Neuroscience</td></tr>

<tr><td><a href="https://www.linkedin.com/in/kirubakumaresh">Kirubakumaresh Rajendran</a></td><td>ML engineer/scientist in industry, IBM, Bengaluru, India</td><td>Machine learning, Natural Language Processing</td></tr>

<tr><td><a href="https://www.linkedin.com/in/yogeshkulkarni">Yogesh H. Kulkarni</a></td><td>ML engineer/scientist in industry, College of Engineering Pune</td><td>Natural Language Processing, Sentiment Analysis</td></tr>

<tr><td><a href="https://in.linkedin.com/in/deepak-sharma-0b03b44">Deepak Sharma</a></td><td>PhD student in machine learning, NSIT</td><td>Information Extraction and Retrieval, Natural Language Processing</td></tr>

<tr><td><a href="https://www.linkedin.com/in/akhil-p-m-657b6031/">Akhil P M</a></td><td>ML engineer/scientist in industry, MobME Wireless Solutions Ltd.</td><td>Machine learning, Natural Language Processing</td></tr>

<tr><td><a href="https://www.linkedin.com/in/dhawaljoh">Dhawal Joharapurkar</a></td><td>PhD student in machine learning, University of California, Santa Cruz</td><td>Natural Language Processing, Statistical ML</td></tr>

<tr><td><a href="https://in.linkedin.com/in/yogeshparte">Yogesh PARTE</a></td><td>ML engineer/scientist in industry, Y P Consulting Services, Mumbai</td><td>Classification, Optimization Algorithms</td></tr>



<tr><td><a href="https://in.linkedin.com/in/sudarsun-santhiappan-a621a873">Sudarsun Santhiappan</a></td><td>PhD student at IIT Madras. Previously, BuddiHealth Inc</td><td>Information Extraction and Retrieval, Statistical ML</td></tr>





<tr><td><a href="https://www.linkedin.com/in/sayan3012">Sayan Putatunda</a></td><td>PhD student in machine learning, Indian Institute of Management Ahmedabad</td><td>Data Streams, Statistical ML</td></tr>

<tr><td><a href="https://www.linkedin.com/in/nipunbatra0">Nipun Batra</a></td><td>PhD student in machine learning, IIIT Delhi/University of Virginia</td><td>Computational Sustainability, Artificial Intelligence</td></tr>

<tr><td><a href="https://in.linkedin.com/in/pankaj-malhotra-76b60a24">Pankaj Malhotra</a></td><td>ML engineer/scientist, TCS Research</td><td>Deep learning, Neural Networks</td></tr>

<tr><td><a href="mailto:m.gautham@hotmail.com">Gautham Muthuravichandran</a></td><td>PhD student in machine learning, Indian Institute of Technology - Madras</td><td>Trading Predictions, Reinforcement Learning</td></tr>

<tr><td><a href="https://www.linkedin.com/in/srishtigautamiitmandi/">Srishti Gautam</a></td><td>MS student in machine learning, IIT Mandi</td><td>Medical Image Processing, Computer Vision</td></tr>

<tr><td><a href="https://in.linkedin.com/in/sameerpitalwalla">Sameer Pitalwalla</a></td><td>CEO, Culture Machine, Mumbai, Pune, Chennai, Delhi</td><td>Computational Linguistics, Computer Vision</td></tr>

<tr><td><a href="https://www.linkedin.com/in/asif-salim-023163ba/">Asif Salim</a></td><td>PhD student in machine learning, Indian Institute of Space Science and Technology</td><td>Bayesian Networks/Statistics, Pattern Recognition.</td></tr>

<tr><td><a href="https://in.linkedin.com/in/somya-gupta-1703">Somya Gupta</a></td><td>ML engineer/scientist, Flipkart, India</td><td>Natural Language Processing, Predictive Analytics</td></tr>



<tr><td><a href="https://www.linkedin.com/in/vikramg">Vikram Garg</a></td><td>ML engineer/scientist in industry, Myntra designs Pvt Ltd,  Bangalore </td><td>Bayesian Networks/Statistics, Computer Vision</td></tr>

<tr><td><a href="https://in.linkedin.com/in/akshay-agarwal-093212109">Akshay Agarwal</a></td><td>PhD student in machine learning, IIIT-Delhi</td><td>Support Vector Machines (SVMs), Computer Vision</td></tr>

<tr><td><a href="https://www.linkedin.com/in/rohit-keshari-31379443?trk=nav_responsive_tab_profile_pic">Rohit Keshari</a></td><td>Biometrics and Machine Learning, Indraprastha Institute of Information Technology-Delhi (IIIT-D), India</td><td>Recurrent Neural Networks, Pattern Recognition.</td></tr>

<tr><td><a href="www.linkedin.com/in/dubey206neha">Neha Dubey</a></td><td>MS(research) student in NLP, IIT madras</td><td>Computational Linguistics, Information Extraction and Retrieval</td></tr>

<tr><td><a href="www.linkedin.com/in/deviganesan">G.Devi</a></td><td>PhD student in machine learning, IIT Madras</td><td>Natural Language Processing, Transfer Learning</td></tr>

<tr><td><a href="https://in.linkedin.com/in/yogeshkulkarni">Yogesh H. Kulkarni</a></td><td>ML engineer/scientist in industry, College of Engineering Pune</td><td>Machine learning, Natural Language Processing</td></tr>

<tr><td><a href="https://in.linkedin.com/in/hardikmeisheri">Hardik Meisheri</a></td><td>ML engineer/scientist in industry, Tata Consultancy Services, Gurgaon</td><td>Natural Language Processing, Optimization Algorithms</td></tr>

<tr><td><a href="https://www.linkedin.com/in/harshhemani/">Harsh Hemani</a></td><td>ML engineer/scientist in industry, Bhabha Atomic Research Centre</td><td>Unsupervised Learning, Speech Recognition</td></tr>

<tr><td><a href="https://in.linkedin.com/in/tapanrshah">TAPAN SHAH</a></td><td>ML engineer/scientist in industry, GE GLOBAL RESEARCH BANGALORE</td><td>Time series modeling, Predictive Analytics.</td></tr>

<tr><td><a href="https://www.linkedin.com/in/aakarshmalhotra">Aakarsh Malhotra</a></td><td>PhD student in machine learning, IIIT-Delhi</td><td>Image Processing (face, fingerprint) recog, Small-scale machine learning.</td></tr>

<tr><td><a href="https://in.linkedin.com/in/anshulsolanki">Anshul Solanki</a></td><td>ML engineer/scientist in industry, Pitney Bowes , NCR</td><td>Natural Language Processing, Recurrent Neural Networks</td></tr>

<tr><td><a href="https://in.linkedin.com/in/ritesh-ratti-a5311615">Ritesh Ratti</a></td><td>ML engineer/scientist in industry, Pitney Bowes Software , Noida</td><td>Graphical Models, Information Extraction and Retrieval</td></tr>

<tr><td><a href="https://in.linkedin.com/in/ayesha-siddiqa-02032834">Ayesha Siddiqa</a></td><td>MS student in Machine learning, Indian institute of technology (Chennai)</td><td>Active Learning, Bayesian Networks/Statistics</td></tr>



<tr><td><a href="https://www.linkedin.com/in/vivek-murugesan">Vivek Murugesan</a></td><td>ML engineer/scientist in industry, Crayon Data, Chennai</td><td>Information Extraction and Retrieval, Machine learning, Natural Language Processing</td></tr>



<tr><td><a href="https://www.linkedin.com/in/shikhar-sharma-b98078119?">Shikhar Sharma</a></td><td>ML engineer/scientist in industry, Pitney Bowes , Noida</td><td>Computer Vision, Evolutionary Algorithms</td></tr>

<tr><td><a href="in.linkedin.com/in/sohomghosh">Sohom Ghosh</a></td><td>ML engineer/scientist in industry, Times Business Solutions, Noida</td><td>Natural Language Processing, Recommender systems</td></tr>

<tr><td><a href="LinkedIn.com/pseemakurthi">Prasad Seemakurthi </a></td><td>ML engineer/scientist in industry, American Express </td><td>Reinforcement Learning, Spam Detection</td></tr>

<tr><td><a href="https://in.linkedin.com/in/shreetam-behera-23321752">Shreetam Behera</a></td><td>PhD student in machine learning, IIT Bhubaneswar</td><td>Computer Vision, Machine learning</td></tr>



<tr><td><a href="Http://LinkedIn.com/vyombhardwaj">Vyom Bhardwaj </a></td><td>ML engineer/scientist in industry, Muoro</td><td>Bayesian Networks/Statistics, High Frequency Trading Predictions Pattern Recognition.</td></tr>


</tbody>
</table>
