<table border="1" markdown="0" id="tbl" style="width:100%; table-layout:fixed; word-wrap: break-word;">

<colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 23%;">
       <col span="1" style="width: 37%;">
</colgroup>
<thead><tr><th title="Field #1">Name</th>
<th title="Field #2">Link/Email</th>
<th title="Field #3">Institution/Organisation</th>
<th title="Field #4">Description</th>
</tr></thead>
    <tbody>
        {% for data in site.data.openDatasets %}
            <tr>
                <td>
                    {{ data.Name }}
                </td>
                <td>
                    <a href="{{ data.Link_Email }}" target="_blank">{{ data.Link_Email }}</a>
                </td>
                <td>
                    {{ data.Institution_Organisation }}
                </td>
                <td>
                    {{ data.Description }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
