
<table border="1" markdown="0" id="tb2" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 25%;">

</colgroup>
<thead><tr>
<th title="Field #1">Name</th>
<th title="Field #2">Affiliation</th>
<th title="Field #3">Tags</th>

</tr></thead>
<tbody>

<tr><td><a href="https://www.linkedin.com/in/adhish-prasoon-0a534217?authType=name&authToken=21t9&locale=en_US&srchid=3509665261474273676508&srchindex=26&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474273676508%2CVSRPtargetId%3A57566717%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Adhish Prasoon</a><a href=""></td><td>PhD. Lead Data Scientist at Mobileum Inc</td><td></td></tr>
<tr><td><a href="https://www.linkedin.com/in/tavpritesh?authType=name&authToken=JcfY&trk=contacts-contacts-list-contact_name-0">Dr Tavpritesh Sethi</a></td><td>Assistant Professor at IIIT-Delhi</td><td></td></tr>
<tr><td><a href="https://www.linkedin.com/in/saurabhsrivastava9?authType=name&authToken=bioQ&trk=contacts-contacts-list-contact_name-0">Saurabh Srivastava</a></td><td>Research Scientist- Human Computer Interaction</td><td></td></tr>
<tr><td><a href="https://www.linkedin.com/in/joshihersh?authType=name&authToken=HkhJ&trk=contacts-contacts-list-contact_name-0">Hersh Joshi</a></td><td>SkilEmp Tech | Data Analytics | Marketing Automation</td><td></td></tr>
<tr><td><a href="https://www.linkedin.com/in/pradeep-mishra-5a5363123?authType=name&authToken=e1_S&trk=contacts-contacts-list-contact_name-0">Pradeep Mishra</a></td><td>Data Scientist at Metacube Software Pvt Ltd</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/aadhikary?authType=name&authToken=7pAo&trk=contacts-contacts-list-contact_name-0">Abinash Adhikary</a></td><td>Chief Data Scientist at Statistics</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/navash?authType=name&authToken=4Y7p&trk=contacts-contacts-list-contact_name-0">Naveen A.</a></td><td>CoFounder & Director, Innovatesmind Technologies</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/vaibhav-rajan-b76a4613?authType=name&authToken=35jk&trk=Skyline_click_NBM&sl=NBM%3B350966526%3A1474268145585%3B0%3B127654926%3B">Vaibhav Rajan</a></td><td>Senior Research Scientist at Xerox Research Centre India</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/arijit-biswas-46690236?authType=name&authToken=6MYy&trk=contacts-contacts-list-contact_name-0">Arijit Biswas</a></td><td>Machine Learning Scientist at Amazon Core Machine Learning</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/yogesh-kumar-7006838?authType=OUT_OF_NETWORK&authToken=jF6R&locale=en_US&srchid=3509665261474270005932&srchindex=5&srchtotal=5573&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270005932%2CVSRPtargetId%3A25552944%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOUT_OF_NETWORK">Yogesh Kumar</a></td><td>Lead Data Scientist at Annik Technnology Services Pvt. Ltd.</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/kushkhurana?authType=OPENLINK&authToken=Rb72&locale=en_US&srchid=3509665261474270005932&srchindex=6&srchtotal=5573&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270005932%2CVSRPtargetId%3A21402703%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOPENLINK">Kush Khurana</a></td><td>Lead Data Scientist at Mobileum</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/sreenivas-kalahasti-8507a05b?authType=OPENLINK&authToken=sex4&locale=en_US&srchid=3509665261474270005932&srchindex=8&srchtotal=5573&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270005932%2CVSRPtargetId%3A213955260%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOPENLINK">Sreenivas Kalahasti</a></td><td>Lead Data Scientist at Vertex Computer Systems</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/ashishiimc?authType=OPENLINK&authToken=1l_n&locale=en_US&srchid=3509665261474270053469&srchindex=10&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270053469%2CVSRPtargetId%3A58836306%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3AOPENLINK">Ashish Kumar</a></td><td>Lead Data Scientist Envisioning Leanml.com</td><td></td></tr>
 <tr><td><a href="https://in.linkedin.com/in/manish-gupta-4556591">Dr. Manish Gupta</a></td><td>VP, Xerox Research Center India</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/renjithpaulose?authType=name&authToken=mMWi&locale=en_US&srchid=3509665261474270053469&srchindex=6&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270053469%2CVSRPtargetId%3A23656033%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Renjith Paulose</a></td><td>Technical Lead Data Science at Lochbridge</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/ujwalbhate?authType=name&authToken=KyMF&locale=en_US&srchid=3509665261474270053469&srchindex=2&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474270053469%2CVSRPtargetId%3A395620471%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Ujwal Bhate</a></td><td>Machine Learning and Data Monetization C.o.E. Lead at Infosys</td><td></td></tr>
 <tr><td><a href="http://www.talukdar.net/">Partha Pratim Talukdar</a></td><td>Assistant Professor, Indian Institute of Science (IISc)</td><td></td></tr>
 <tr><td><a href="http://www.cse.iitd.ac.in/~parags/">Parag Singla</a></td><td>Assistant Professor, IIT Delhi </td><td></td></tr>
 <tr><td><a href="http://homes.cs.washington.edu/~mausam/">Prof Mausam</a></td><td>Associate Professor, IIT Delhi</td><td></td></tr>
 <tr><td><a href="https://www.iiit.ac.in/~vv/Home.html">Prof Vasudeva Varma</a></td><td>Dean and Professor at IIIT Hyderabad</td><td></td></tr>
 <tr><td><a href="https://www.iiitd.edu.in/~mayank/"><a href="">Prof Mayank Vatsa</a></td><td>Associate Professor at IIIT Delhi</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/sonalgoyal?authType=name&authToken=X4Dq&trk=contacts-contacts-list-contact_name-0">Sonal Goyal</a></td><td>Founder at Nube Technologies</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/karthik-r-2b01b424?authType=name&authToken=iD_a&locale=en_US&srchid=3509665261474273954159&srchindex=31&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474273954159%2CVSRPtargetId%3A84091812%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Karthik R</a></td><td>Data Scientist at Tiger Analytics</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/vempatisreekanth?authType=name&authToken=sp6H&trk=prof-sb-browse_map-name">Sreekanth Vempati</a></td><td>Data Scientist at Myntra.com</td><td></td></tr>
 <tr><td><a href="https://www.linkedin.com/in/nijesh-kanjinghat-65770822?authType=name&authToken=JLOO&locale=en_US&srchid=3509665261474273954159&srchindex=32&srchtotal=3107&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3509665261474273954159%2CVSRPtargetId%3A79392163%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Afalse%2CauthType%3Aname">Nijesh Kanjinghat</a></td><td>Data Scientist at IBM</td><td></td></tr>

</tbody>
</table>
