<table border="1" markdown="0" id="tbl" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 20%;">
</colgroup>
<thead><tr><th title="Field #1">Name</th>
<th title="Field #2">University</th>
<th title="Field #3">Description</th>
<th title="Field #4">Link</th>

</tr></thead>
<tbody>

    {% for group in site.data.researchGroups %}
      <tr>
      	<td>
      		{{ group.Name }}
      	</td>
      	<td>
      		{{ group.University }}
      	</td>
      	<td>
      		{{ group.Description }}
      	</td>
        <td>
            <a href="{{ group.Link }}" target="_blank">{{ group.Link }}</a>
        </td>
      </tr>
    {% endfor %}

</tbody>
</table>
