<table border="1" markdown="0" id="tbl" style="width:100%; table-layout:fixed; word-wrap: break-word;">


<colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
</colgroup>
<thead><tr><th title="Field #1">Title</th>
<th title="Field #2">Authors with affiliations</th>
<th title="Field #3">Conf</th>
<th title="Field #4">Year</th>
<th title="Field #4">Cited by</th>

</tr></thead>
<tbody>

    {% for paper in site.data.researchPapers %}
      <tr>
      	<td>
      		{{ paper.Title }}
      	</td>
      	<td>
      		{{ paper.Authors_with_affiliations }}
      	</td>
      	<td>
      		{{ paper.Conf }}
      	</td>
      	<td>
      		{{ paper.Year }}
      	</td>
      	<td>
      		{{ paper.Cited_by }}
      	</td>
      </tr>
    {% endfor %}

</tbody>
</table>
