<!-- {% if site.related_posts.size > 0 %}


<section id="table-of-contents" class="toc">
  <header>
    <h3><i class="fa fa-book"></i>Related Articles</h3>
  </header>
<div id="drawer" markdown="1">

    <ul id="markdown-toc">
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>


</div>
</section>

{% endif %}
 -->

<section id="table-of-contents" class="toc">
  <header>
    <h3><i class="fa fa-book"></i>Related Articles</h3>
  </header>

<div id="drawer" markdown="1">

    <ul id="markdown-toc">

{% for post in site.posts %}
  
  {% assign sameTagCount = 0 %}
  {% assign commonTags = '' %}

  {% for category in post.tags_relevant %}
            {% if page.tags_relevant contains category %}

              {% assign sameTagCount = sameTagCount | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
              {% assign commonTags = commonTags | append: tagmarkup %}

            {% endif %}
  {% endfor %}

  {% if sameTagCount >= 1 %}
    <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endif %}

{% endfor %}

    </ul>


</div>
</section><!-- /#table-of-contents -->